HOST=0.0.0.0
HOST_IP=0.0.0.0
HOST_PORT=18088
CONTAINER_PORT=8080
DATABASE_HOST=postgresql
DATABASE_PORT=5432
DATABASE_NAME=smsforwarder_messages
DATABASE_USER=smsforwarder_webhook
DATABASE_PASSWORD=change-me
DATABASE_SSLMODE=disable
SHUTDOWN_TIMEOUT=10s
READ_HEADER_TIMEOUT=5s
GOPROXY=https://goproxy.cn,direct
GOSUMDB=off
